.tieude {
    background-color: #0f2f4f; 
    height: 65px; 
    text-align: center; 
    padding-top: 10px; 
    font-size: 30px; 
    font-family: Arial, Helvetica, sans-serif;
}

.info-cskd .row {
    margin-bottom: 15px;
}

.info-cskd .row .col-sm-4 {
    font-weight: bold;
}

.col-sm-8 {
    text-align: right !important;
}

.same-cty .row .col-sm-4 {
    margin-bottom: 20px
}